html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: manropeBold;
  src: url(../fonts/web/Manrope-Bold.woff2);
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header-text {
  width: 40%;
  padding-top: 1.5%;
  font-family: manropeBold;
}

#header-brand {
  float: left;
  text-align: left;
  padding-left: 10%;
}

#menu {
float: right;
width: 50%;
}

#menu-header {
width: 100%;
}

.menu-item {

}

#mode-button {

}

#nav-link {
  float: right;
  text-align: right;
  padding-right: 10%;
}


.social-row {

}
