html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: black;
}

#about {
  height: 100%;
  margin-bottom: 100px;
}

.about-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#about-head {
  font-size: 290px;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}


#about-image-container {
  width: 45%;

 
}

#about1 {
  margin-bottom: 100px;
}

.about-paragraph {
  font-family: manropeLight;
  font-size: 25px;
  line-height: 60px;
  width: 60%;
  
  margin: auto;
}

#about-text-container{
  width: 45%;
  padding-top: 0;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#brief{
  font-family: manropeRegular;
  font-size: 60px;
  line-height: 140px;
}

#brief-container {
}

.button-reset {
  background: none!important;
  border: none;
  padding: 0!important;

}

.menu-button {
  font-family: manropeBold;
  font-size: 18px;
}


.container {
  margin: 0 auto;
  width: 70%;
}

#experience {
  width: 100%;
}

.exp-card {
  width: 30%;
  min-width: 30%;
  margin-bottom: 50px;
}

.exp-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 140px;
  margin: 0 auto;
}

.exp-card-description {
  width: 70%;
  margin: auto;
  font-family: manropeRegular;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 1px;
}

.exp-card-time {
  text-align: center;
  font-size: 30px;
}
.exp-card-company {
  text-align: center;
  font-size: 30px;
  margin: 20px 5px
}
#exp-title-small{
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 0;
}

#exp-title-large{
  font-size: 200px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}

@font-face {
  font-family: ManropeExtraLight;
  src: url(../fonts/web/Manrope-ExtraLight.woff2);
}

@font-face {
  font-family: manropeLight;
  src: url(../fonts/web/Manrope-Light.woff2);
}

@font-face {
  font-family: manropeRegular;
  src: url(../fonts/web/Manrope-Regular.woff2);
}
@font-face {
  font-family: manropeMedium;
  src: url(../fonts/web/Manrope-Medium.woff2);
}

@font-face {
  font-family: manropeSemiBold;
  src: url(../fonts/web/Manrope-SemiBold.woff2);
}

@font-face {
  font-family: manropeBold;
  src: url(../fonts/web/Manrope-Bold.woff2);
}

@font-face {
  font-family: manropeExtraBold;
  src: url(../fonts/web/Manrope-ExtraBold.woff2);
}

h3 {
  font-family: manropeLight;
}

h4 {
  font-family: manropeMedium;
}
h5 {
  font-family: manropeSemiBold;
}
h6 {
  font-family: manropeExtraBold;
}

#head-main-container {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1.5%;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header-text {
  width: 40%;
  font-family: manropeBold;
  font-size: 18px;
}

#header-brand {
  float: left;
  text-align: left;
  padding-left: 10%;
  margin-left: 0;
  
}
.image-container1 {
  width: 270px;
  height: 480px;
  float: left;
  margin-right: 0px;
  border: 2px solid black;
}
.image-container2 {
  width: 270px;
  height: 480px;
  float: right;
  margin-top: 40px;
  margin-left: 0px;
  border: 2px solid black;
}

#landing {

}
#landing-text {
  font-family: manropeBold;
  font-size: 240px;
  margin-left: 10%;
}
main {
  display: block;
}

#menu {
position: absolute;
right: 0;
width: 50%;
height: 100%;
z-index: 2;
}
#menu-footer{
  width: 50%;
  padding-bottom: 10px ;
  position: fixed;
  bottom: 0;
}
#menu-footer-brand{
  font-family: manropeBold;
  text-align: center;
}
#menu-header {
width: 100%;
text-align: center;
display: flex;
justify-content: center;
margin-bottom: 50px;
}

.menu-item {
text-align: center;
font-size: 30px;
}
.menu-item:hover {
color: transparent;
-webkit-text-stroke: 1px black;
-webkit-text-fill-color: transparent;
}

#menu-nav{
  width: 30%;
  margin: 0 auto;
}

#mode-button {
  background-color: transparent;
  padding: 7px 28px;
  border: 1px solid black;
  border-radius: 25px;
  font-family: manropeExtraBold;
  font-size: 14px;
}
#mode-button-container {
  text-align: center;
}

#nav-link {
  float: right;
  text-align: right;
  padding-right: 10%;
}

#resume-button {
  background-color: transparent;
  padding: 7px 28px;
  border: 1px solid black;
  border-radius: 25px;
  font-family: manropeExtraBold;
  font-size: 14px;
  margin-top: 0px;
  margin-left: 75px;
}

#resume-button:hover {
  color: white;
  background-color: black;
  border-radius: 25px;
}

.social-icon {
  font-size: 20px;
  margin: 10px 20px;
}

.social-row {
margin: auto;
width: 100%;
text-align: center;
}

.title-small {
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.title-large {
  font-size: 200px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.view-button{
  font-family: manropeBold;
  font-size: 13px;
  margin-left: 5px;
  margin-right: 10px;

}


.view-button-row {
  width: 100%;
  display: flex;
}

.view-slash {
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-family: manropeBold;
}
.work-card {
  height: 600px;
  width: 100%;
  margin: 0 auto;
}

.work-card-container {
  margin: 0 auto;
}

.work-card-title {
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 20px;
  font-family: manropeBold;
}

.work-card-subtitle {
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  margin-top: 10px;
  font-family: manropeLight;
}

.work-card-description {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  width: 70%;
  margin: auto;
  font-family: manropeRegular;
}

.work-card-link {
  text-align: center;
  font-size: 20px;
  font-family: manropeBold;
}

.work-footer {
  width: 100%;
}
.work-footer-text{
  text-align: center;
  font-size: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.work-title {
  text-align: right;
}

.work-image-side {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work-text-side {
  width: 50%;

}


.odd, 
.work-image-side {
  float: right
}
.odd, 
.work-text-side {
  float: left
}
.even, 
.work-image-side {
  float: left
}
.even, 
.work-text-side {
  float: right
}
